@font-face {
    font-family:'Gotham Medium';
    src:url(../../fonts/Gotham\ Bold\ Regular.ttf)
  }

.post-box {
    display:flex;
    height:10%;
    width: 80%;
    border: 3px solid #61dafb;
    margin:10%;
    margin-top:5%;
    margin-bottom: 5%;
}

.profile-name {
    margin-left: 15px;
    font-family:'Gotham Medium';
    font-size:20px;
}

.post-music {
    margin-left: 5px;
    margin-right:5px;
    font-family:'Gotham Medium';
    display:block;
}

.comment-message {
    display:flex;

}

.comment-author {
    font-family:'Arial, Helvetica, sans-serif';
    font-size:16px;
    background-color: #1E0045;

    color: #34DE04;

    z-index: 10;

}

.comment-text {
    font-family:'Arial, Helvetica, sans-serif';
    background-color: #3c1b66;

    color:#61dafb;
    font-size:12px;
    z-index: 10;

}

.post-input, select, textarea {
    background-color: #3c1b66;
    color:#61dafb;
    border-radius:3px;
    height:30px;
    width:400px;
    padding: 10px;



}

.comment-send-button {
    display:block;
    font-size: 20px;
    height: 30px;
    overflow:hidden;
    width: 100px;
    border: 3px solid #C33BD6;
    color: #34DE04;
    background-color: #1E0045;
    text-align: center;
    font-family: 'Harlow Solid Italic', sans-serif;
    margin-right: 5px;

}

.comment-send-button:hover {
    text-align: center;
    -webkit-animation: title 1s ease-in-out infinite alternate;
    -moz-animation: title 1s ease-in-out infinite alternate;
    animation: title 1s ease-in-out infinite alternate;
  }
  
  @keyframes title {
    0%{
      color: rgb(90, 73, 99);
       
    }
    
    100% {
      text-shadow: 0 0 5px #C33BD6, 0 0 10px #C33BD6;
    }
}
.display-comments-button {
    font-size: 20px;
    height: 60px;
    width: 100px;
    border: 3px solid #C33BD6;
    color: #34DE04;
    background-color: #1E0045;
    
    text-align: center;
    font-family: 'Harlow Solid Italic', sans-serif;
}
.display-comments-button:hover {
    text-align: center;
    -webkit-animation: title 1s ease-in-out infinite alternate;
    -moz-animation: title 1s ease-in-out infinite alternate;
    animation: title 1s ease-in-out infinite alternate;
  }
  
  @keyframes title {
    0%{
      color: rgb(90, 73, 99);
       
    }
    
    100% {
      text-shadow: 0 0 5px #C33BD6, 0 0 10px #C33BD6;
    }
}
.comment-section {
    z-index: 10;
    width:300px;
    border: 3px solid #34DE04;
}

.button-container {
    display:flex;
}



.like-button {
    display:block;
    font-size: 20px;
    height: 30px;
    overflow:hidden;
    width: 100px;
    border: 3px solid #C33BD6;
    color: #ff7d03;
    background-color: #1E0045;
    text-align: center;
    font-family: 'Harlow Solid Italic', sans-serif;
}

.like-button:hover {
    text-align: center;
    -webkit-animation: title 1s ease-in-out infinite alternate;
    -moz-animation: title 1s ease-in-out infinite alternate;
    animation: title 1s ease-in-out infinite alternate;
  }
  
  @keyframes title {
    0%{
      color: rgb(90, 73, 99);
       
    }
    
    100% {
      text-shadow: 0 0 5px #C33BD6, 0 0 10px #C33BD6;
    }
}
.likes {
    display:block;
    margin-left:5px;
    font-size: 15px;
    height: 24px;
    overflow:hidden;
    width: 100px;
    border: 3px solid #34DE04;
    color: #ff7d03;
    background-color: #1E0045;
    text-align: center;
    font-family: 'Harlow Solid Italic', sans-serif;
}