.post-box {
    display:flex;
    height:10%;
    width: 80%;
    border: 3px solid #61dafb;
    margin:10%;
}

.profile-name {
    
    display:inline-block;
    margin: 2%;
    border-right: 3px solid #61dafb;
}

.post-music {
    margin:2%;
    display:inline-block;
}

.comment-message {
    display:block;
    border: 3px solid #C33BD6;

}

.comment-author {
    background-color:blanchedalmond;
}

.comment-text {
    background-color:green;
}

.post-input {
    background-color: #3c1b66;
    color:#61dafb;
    border-radius:5px;
    box-sizing: border-box;
    resize:none;
    padding: 2px 2px;
}

.comment-send-button {
    margin-top:inherit;
    font-size: 20px;
    height: 30px;
    width: 100px;
    border: 3px solid #C33BD6;
    color: #34DE04;
    background-color: #1E0045;
    
    text-align: center;
    font-family: 'Harlow Solid Italic', sans-serif;
}
