@font-face {
    font-family:'Gotham Medium';
    src:url(../../fonts/Gotham\ Bold\ Regular.ttf)
  }

.spotify-login {

    font-size: 20px;
    height: 60px;
    width: 100%;
    background-color: #1DB954;
    border:none;
    border-radius:50px;
    text-align: center;
}

.spotify-link:link {
    font-family: 'Gotham Medium';
    color:white;
    text-decoration: none;
}
.spotify-link:visited {
    color:white;

    text-decoration: none;
}

.spotify-input {
    margin-top:5px;
    padding:4px;
    align-self: center;
    background-color: #3c1b66;
    color:#61dafb;
    border:none;
    width:96%;

}

.spotify-share-button {
    font-size: 20px;
    height: 30px;
    width: 48%;
    border: 3px solid #C33BD6;
    color: #34DE04;
    background-color: #1E0045;
    text-align: center;
    font-family: 'Harlow Solid Italic', sans-serif;
    margin-top:5px;
    margin-bottom: 5px;
    margin-right:5px;
}
.spotify-share-button:hover {
    text-align: center;
    -webkit-animation: title 1s ease-in-out infinite alternate;
    -moz-animation: title 1s ease-in-out infinite alternate;
    animation: title 1s ease-in-out infinite alternate;
  }
  
  @keyframes title {
    0%{
      color: rgb(90, 73, 99);
       
    }
    
    100% {
      text-shadow: 0 0 5px #C33BD6, 0 0 10px #C33BD6;
    }
}
.spotify-autofill {
    font-size: 20px;
    height: 30px;
    width: 49%;
    border: 3px solid #C33BD6;
    color:#61dafb;
    background-color: #1E0045;
    
    text-align: center;
    font-family: 'Harlow Solid Italic', sans-serif;
}
.spotify-autofill:hover {
    text-align: center;
    -webkit-animation: title 1s ease-in-out infinite alternate;
    -moz-animation: title 1s ease-in-out infinite alternate;
    animation: title 1s ease-in-out infinite alternate;
  }
  
  @keyframes title {
    0%{
      color: rgb(90, 73, 99);
       
    }
    
    100% {
      text-shadow: 0 0 5px #C33BD6, 0 0 10px #C33BD6;
    }
}
