.history-feed {
    border: 5px solid #C33BD6;
    border-left:none;
    border-right:none;
    width: 100%;
    height:600px;
    overflow: auto;

}
.history-feed::-webkit-scrollbar {
    display: none;
  }
.goback-button {
    font-size: 50px;
    display:block;
    color: #34DE04;
    border: 3px solid #C33BD6;
    text-align: center;
    font-family: 'Harlow Solid Italic', sans-serif;
    background-color: #1E0045;
}
.like-button {
    font-size:500px;
}