.login-button {
    font-size: 50px;
    border: 3px solid #C33BD6;
    color: #34DE04;
    display:block;
    font-family: 'Harlow Solid Italic';
    text-align: center;
  }

  .register-button {
    font-size: 50px;
    display:block;
    color: #61dafb;
    border: 3px solid #C33BD6;
  font-family: 'Harlow Solid Italic', sans-serif;

    text-align: center;

  }

  .logo {
      display:relative;
      width: 200px;
  }