.Login {
    background-color: #1E0045;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #C33BD6;
    font-family: 'Harlow Solid Italic', sans-serif;
  }
  .login-button {
    font-size: 50px;
    display:block;
    color: #34DE04;
    border: 3px solid #C33BD6;
    text-align: center;
    font-family: 'Harlow Solid Italic', sans-serif;
    background-color: #1E0045;
  }
